@model ESA_Terra_Argila.Models.Material

@{
    ViewData["Title"] = $"{Model.Name}";
    bool ownsMaterial = Model.UserId == User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
    bool isFavorite = ViewData["IsFavorite"] as bool? ?? false;
}
<style>
    body {
        background-color: #EBEBEB;
    }
</style>
<div class="col-md-10 mt-3 mx-auto">

    <a class="add-button cursor-pointer" onclick="window.history.back();">Voltar</a>

    @if (ownsMaterial)
    {
        <a asp-action="Edit" asp-route-id="@Model.Id" class="add-button">Editar material</a>
    }
</div>
<div style="background-color: #FFFFFF;" class="col-md-10 p-4 my-3 d-flex gap-3 mx-auto rounded shadow">
    <div class="col-md-8 d-flex gap-2">
        <div style="height: 30rem; overflow-y: auto;" class="d-flex flex-column gap-2 col-md-2">
            @{
                var count = Model.Images?.Count ?? 0;
            }
            @for (int i = 1; i < count; i++)
            {
                <div onclick="switchToImage(event)" style="height: 5rem" class="col-md-12 cursor-pointer rounded border shadow">
                    <img src="@Model.Images.ElementAt(i).Path" alt="@Model.Name" />
                </div>
            }
        </div>
        <div style="height: 30rem" class="d-flex flex-grow-1 rounded border shadow">
            <img id="main-image" src="@Model.Images.FirstOrDefault()?.Path" alt="@Model.Name" />
        </div>
    </div>
    <div style="background-color: #EBEBEB; height: 30rem" class="d-flex flex-column flex-grow-1 position-relative px-4 py-2 rounded border shadow">
        @if (User.IsInRole("Vendor"))
        {
            @if (isFavorite)
            {
                <img alt="Adicionar aos favoritos" src="/images/fav_on.png" style="height: 2rem; width: 2rem;" class="position-absolute top-0 end-0 m-2 fav-button cursor-pointer" onclick="setFavorite(event)" data-id="@Model.Id" data-value="false" />
            }
            else
            {
                <img alt="Adicionar aos favoritos" src="/images/fav_off.png" style="height: 2rem; width: 2rem;" class="position-absolute top-0 end-0 m-2 fav-button cursor-pointer" onclick="setFavorite(event)" data-id="@Model.Id" data-value="true" />
            }
        }
        <h2 style="min-height: 20%" class="col-md-12">@Model.Name</h2>
        <div class="col-md-12 d-flex justify-content-between align-content-end">
            <span class="text-secondary text-decoration-line-through"></span>
            <span class="fw-bold rounded @(Model.Stock > 0 ? "stock-badge" : "no-stock-badge")">
                @(Model.Stock > 0 ? "Em stock" : "Sem stock")
            </span>
        </div>
        <h2 class="col-md-12">@Model.Price.ToString("C", new System.Globalization.CultureInfo("pt-PT"))</h2>
        <p class="col-md-12 mt-2" style="height: 10.7rem; overflow-y: auto;">@Model.Description</p>
        <div class="col-md-12 d-flex flex-column gap-2">
            @if (User.IsInRole("Vendor"))
            {
                <a asp-action="BuyNow" asp-route-id="@Model.Id" class="secondary-button col-md-12 text-center shadow-sm">Comprar agora</a>
                <a asp-action="AddToCart" asp-route-id="@Model.Id" class="add-button col-md-12 text-center shadow-sm">Adicionar ao carrinho</a>
            }
        </div>
    </div>
</div>
