@model ESA_Terra_Argila.Models.Order
@{
    ViewData["Title"] = "Carrinho de compras";
}
<style>
    .cart-image {
        width: 5rem;
        height: 5rem;
    }
</style>

<div class="container">
    <div class="col-md-12 my-3">
        <h2>Carrinho de compras</h2>
    </div>
    <div class="d-flex gap-4">

        <div class="col-md-7 d-flex flex-column justify-content-between">

            <div style="height: 27rem;" class="col-md-12 overflow-auto">

                @if (Model?.OrderItems != null && Model.OrderItems.Count > 0)
                {

                    @foreach (OrderItem item in Model.OrderItems)
                    {

                        string category = item.Item.Category?.Name ?? "Sem categoria";
                        <div data-id="@item.Id" class="col-md-12 d-flex border-bottom pb-2 mb-2 justify-content-between align-items-center cart-item">
                            <div class="d-flex align-items-center gap-2">
                                <div class="cart-image">
                                    <img src="@item.Item.Images.FirstOrDefault()?.Path" alt="Item">
                                </div>

                                <div>
                                    <p class="fw-bold mb-0">@item.Item.Name</p>
                                    <p class="mb-0">@category</p>
                                </div>

                            </div>

                            <div class="d-flex gap-2 align-items-center">
                                <svg onclick="removeCartItemQuantity(event)" class="cursor-pointer" xmlns="http://www.w3.org/2000/svg" fill="none" width="30" height="30" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
                                </svg>

                                <span style="font-size: 16px;" class="stock-badge fw-bold quantity rounded">@item.Quantity</span>

                                <svg onclick="addCartItemQuantity(event)" class="cursor-pointer" xmlns="http://www.w3.org/2000/svg" fill="none" width="30" height="30" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                                </svg>

                            </div>

                            <div class="d-flex align-items-center">
                                <div style="font-size: 20px;" class="fw-bold mb-0 partial">@item.GetTotal().ToString("C", new System.Globalization.CultureInfo("pt-PT"))</div>
                            </div>

                            <div class="d-flex align-self-start">
                                <a class="text-secondary" asp-action="DeleteItem" asp-route-id="@item.Id" onclick="return confirm('Tem a certeza que deseja remover este item do carrinho?');">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                                    </svg>

                                </a>

                            </div>

                        </div>

                    }
                }
                else
                {
                    <div style="background-color: #EBEBEB" class="col-md-12 mt-2 p-4 rounded shadow">
                        <h4 class="mt-2">O seu carrinho Terra&Argila está vazio</h4>
                        <span>Verifica os teus pedidos ou </span><a class="text-decoration-none" asp-controller="Products" asp-action="List">continua a comprar</a>
                    </div>
                }
            </div>


            <div style="height: 2rem; font-size: 20px;" class="col-md-12 fw-bold total text-end">
                Total: @Model?.GetTotal().ToString("C", new System.Globalization.CultureInfo("pt-PT"))
            </div>



            <div class="mt-4 text-end">
                <form method="post" action="/api/pagamento/checkout/@Model.Id">
                    <button type="submit" class="btn btn-primary">Finalizar Compra</button>
                </form>
            </div>

        </div>
        <div style="height: 29rem;" class="col-md-4 form-section shadow">
        </div>
    </div>
</div>



